nav {
   ul {
       @include flatten(true, false);
       display: flex;
   }
   li {
       flex: 1;
   }
   a {
       display: block;
       line-height: em(45);
       text-align: center;
       color: $lightWhite;
       text-decoration: none;
         &:hover, &:focus, &:active {
              background-color: rgba($lightWhite, 0.1);
       }
   } 
}