.nav-options {

    ul {
        background-color: $darkBlue;
        @include flatten(true, false);
        display: flex;
        justify-content: space-between;
    }

    li {
        padding: 0;
    }


    button {
        background-color: $darkBlue;
        border: none;
        color: $lightWhite;
        font-weight: bold;
        font-size: .875rem;
        padding: 0;
        margin:20px 0px; 
    }
        
    button:hover {
        color: $lightBlue;
        }
    
   
    // img{
    //     width: 1.5rem;
    //     height: 2.125rem;
    // }

    //mediaquery
    
    @include mq(37.5rem){

        button {
            font-size: 1.25rem;
            margin:20px 30px; 
        }


        ul {
            justify-content: center;
        }
         
        }
    } 

