    // About Styles
    @use "variables" as *;
    @use "mixins" as *;
    
    .section-about,
    .section-not-found { 
        display: flex;
        flex-direction: column;
        align-items: left;

        p {
            line-height: 1.6;
        }

        .tmdbLogo {
            width: 4.375rem;
            height: 3.375rem;
            display: block;
            justify-content: center;
            margin: 10px auto auto;
        }

        .tmdb {
            margin-top: 1.5625rem;
            font-weight: 600;
            font-size: .9375rem;
        }
        

        @include mq(62rem){
            h2{
                font-size: 1.5rem
            }
    
            p {
                font-size: 1.25rem  
            }

            .tmdb {
                font-size: 1.125rem;
            }

            .tmdbLogo {
                margin: 1.25rem auto auto;
            }
        }

    }