// Movie Card Styles
@use "variables" as *;

.movie-card {
    margin:25px 0;
    line-height: 1.2;
    
    p {
        margin: .625rem 0;
        font-size: .9375rem;
    }
    
    button {
        color: $lightWhite;
        background-color: $lightBlue;
        border: 1px solid $lightBlue;
        border-radius: .3125rem;
        padding: .375rem .75rem;
        margin-bottom: .625rem;
        text-decoration: none;
    }

    button:hover {
        background-color: $darkBlue;
        border: 1px solid $lightBlue;
    }

    button a ,
    button a visit{
        color: $lightWhite;
        text-decoration: none;
    }

    button:hover a {
        color: $lightWhite;
        text-decoration: none;
    }

    .movie-card-poster {
        width: 17.5rem;
        height: 26.25rem;
        object-fit: cover;
    }

    .movie-card-title {
        font-size: 1.0625rem;
        font-weight: 700;
        margin: 0.5rem 0;
        color: $lightWhite;
    }

    .movie-card-rating {
        color:$lightBlue;
        margin-bottom: 1.5625rem;
    }

    .more-info-button {
        margin-right: .9375rem;
    }
}
