// Movie Detail Styles
@use "variables" as *;
@use "mixins" as *;

.movie-detail {
    margin:25px 0;
   
    h3{
        font-size: 1rem;
    }

    p {
        margin: .625rem 0;
        font-size: .9375rem;
        line-height: 1.6;
    }
    
    button {
        color: $lightWhite;
        background-color: $lightBlue;
        border: 1px solid $lightBlue;
        border-radius: .3125rem;
        padding: .375rem .75rem;
        margin-bottom: .625rem;
        text-decoration: none;
        cursor: pointer;
    }

    button:hover {
        background-color: $darkBlue;
        border: 1px solid $lightBlue;
        color: $lightBlue;
    }

    button a ,
    button a visit{
        color: $lightWhite;
        text-decoration: none;
    }

    button:hover a {
        color: $lightWhite;
        text-decoration: none;
    }

    .movie-detail-poster {
        width: 16.875rem;
        height: 26.25rem;
        object-fit: cover;
    }

    .movie-detail-title {
        font-size: 1rem;
        font-weight: 700;
        margin: 0.5rem 0;
        color: $lightWhite;
    }

    .movie-detail-rating {
        color:$lightBlue;
        margin-bottom: .9375rem;
    }

    .movie-detail-overview {
        margin-bottom: 30px;
    }

    @include mq(37.5rem){

            display:grid;
            grid-template-columns: repeat(2, 360px);
            grid-column: repeat(4, 1fr);
            gap: .125rem;
            margin-left: 1.25rem
        }

        h2 {
            font-size: 1.5rem;
        }

        .movie-detail-poster {
            grid-column: 1/2;
            grid-row: 1/5;
        }

        .fav-bttn {
            grid-column: 2/3;
            grid-row: 5/6;
        }
        
    }

