// Movie Detail Styles
@use "variables" as *;

.movie-detail {
    margin:25px 0;
    
    h3{
        font-size: 1rem;
    }

    p {
        margin: 10px 0;
    }
    
    button {
        color: $lightWhite;
        background-color: $lightBlue;
        border: 1px solid $lightBlue;
        border-radius: .3125rem;
        padding: .375rem .75rem;
        margin-bottom: .625rem;
        text-decoration: none;
    }

    button:hover {
        background-color: $darkBlue;
        border: 1px solid $lightBlue;
    }

    button a ,
    button a visit{
        color: $lightWhite;
        text-decoration: none;
    }

    button:hover a {
        color: $lightWhite;
        text-decoration: none;
    }

    .movie-detail-poster {
        width: 17.5rem;
        height: 26.25rem;
        object-fit: cover;
        margin: .625rem 0;
    }

    .movie-detail-title {
        font-size: 1rem;
        font-weight: 700;
        margin: 0.5rem 0;
        color: $lightWhite;
    }

    .movie-detail-rating {
        color:$lightBlue;
        margin-bottom: .9375rem;
    }

    .movie-detail-overview {
        margin-bottom: 30px;
    }

}