// Nav Styles
@use "variables" as *;
@use "mixins" as *;

.siteNavegation {

    ul {
        background-color: $darkBlue;
        @include flatten(true, false);
        display: flex;
        justify-content: space-between;
    }

    a {
        display: block;
        text-align: center;
        color: $lightWhite;
        
        text-decoration: none;
            &:hover, &:focus, &:active {
                background-color: rgba($lightWhite, 0.1);
        }
    } 
}

