// Options Styles
@use "variables" as *;
@use "mixins" as *;

.nav-options {

    ul {
        background-color: $darkBlue;
        @include flatten(true, false);
        display: flex;
        justify-content: space-between;
        margin:0;
    }

    li {
        padding: 0;
    }

    button {
        background-color: $darkBlue;
        border: none;
        color: $lightWhite;
        font-weight: bold;
        font-size: .9375rem;
        padding: 0;
        margin:15px 0px;
        cursor: pointer; 
    }
        
    button:hover {
        color: $lightBlue;
        }
    
    
    @include mq(37.5rem){

        button {
            font-size: 1.25rem;
            margin:20px 30px; 
        }


        ul {
            justify-content: center;
            margin: 0 .9375rem
            
        }
         
        }
    } 

