// Typography Styles
@use "variables" as *;

body {
    font-family: $font;
    color: $lightWhite;
}

h1, h2, h3, h4 {
    font-family: $font;
}

h2 {
    color: $lightBlue;
    margin: 2.5rem 0 1.875rem;
    font-size:  1.25rem;
}
