// Colors
$darkBlue: #10141E;
$lightWhite: #FBFBFB;
$lightBlue: #8FA2D1;
$mediumBlue: #191F2F;


// Type
$font: "Montserrat", sans-serif;

// Layout
$section-padding: 0 3rem;
$section-margin-botton: 2rem;